.sidebar{
    width: 20%;
    margin-top: -3%;
    background-color: rgb(39, 93, 75);
    height: 100%;

}
.home-icon{
    margin-left: 20px;
}
.home-txt{
    margin-left: 2px;
   font-weight: bold;
    vertical-align: -moz-middle-with-baseline
    
}

