.add{
    margin-left: 5%;
    margin-right: 5%;
}
.addUser{
    background-color: #e88282;
     border-radius: 6px;
     width: 70%;
     margin-top: 2%;
     /* margin-left:25% ; */
     
     height: fit-content;
     padding: 1px;
}
.form-group {
    /* margin-bottom:20px;
    margin-top: 20px;     */
    position: relative;
   
    /* box-shadow: 0 0.188em 1.550em; */
  }
  .form{
    margin-top: 2%;
  }
 input {
  width: 70%;
  /* height: 2em; */
  /* border-radius: 0.25em; */
  text-align: left;
   padding: 2px;
 }